{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>

        <h3>Generated Short URLs</h3>
        <div class="card-columns">
            {% for short_url in current_user.short_urls %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ base_url ~ 'shorts/' ~ short_url.id }}">{{ short_url.alias }}</a></h5>
                        <p class="card-text"><a href="{{ short_url.url.link }}">{{ short_url.url.link }}</a></p>
                        <p class="card-text"><small class="text-muted">Hits: {{ short_url.hits }}</small></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
