{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        {% if short_url %}
            <h1>Short URL Details</h1>
            <p><strong>Short URL:</strong> {{ base_url ~ short_url.alias }}</p>
            <p><strong>Original URL:</strong> {{ short_url.url.link }}</p>
            <p><strong>Hits:</strong> {{ short_url.hits }}</p>
            <img src="{{ qrcode(base_url ~ short_url.alias) }}">
        {% else %}
            <p>Short URL not found.</p>
        {% endif %}
    </div>
{% endblock content %}